* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #f1f4fd;
}

.container {
	max-width: 1200px;
	width: 95%;
}

.slider-wrapper {
	position: relative;
}

.slide-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	color: white;
	background: black;
	font-size: 2.2rem;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 50%;
}
.slide-btn:hover {
	background: #444;
}

#prev-slide {
	left: -20px;
}
#next-slide {
	right: -20px;
}

.image-list {
	display: grid;
	gap: 18px;
	grid-template-columns: repeat(10, 1fr);
	font-size: 0;
	overflow-x: auto;
}

img {
	width: 325px;
	height: 400px;
	object-fit: cover;
}
